<div class="container">
    <div class="row">
        <ng-container *ngFor="let termek of termekek">
            <div class="col-md-3">
                <div class="card h-100">

                    <img style="width: 200px; height: 200px;" [src]="termek.kepUrl" class="card-img-top mx-auto mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{termek.megnevezes}}</h5>
                        <p class="card-text">{{termek.leiras}}</p>
                    </div>
                    <div class="card-footer mt-auto">
                        <h3>Ár: {{termek.ar | currency : 'USD '}}</h3>
                        <div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Db</span>
                                <input #db type="number" value="1" class="form-control" aria-label="darab"
                                    aria-describedby="basic-addon1">
                            </div>
                            <button mat-raised-button color="primary" (click)="addTermek(termek.key, db.value, termek.ar)">Megrendelés</button>
                        </div>
                    </div>

                </div>

            </div>
        </ng-container>
    </div>
</div>